Combines both Parts of Speech and Empath Variables

In [1]:
import pandas as pd

In [10]:
df1=pd.read_csv('Cap\PartsOfSpeech.csv', delimiter = ',',encoding='utf-8')
df2=pd.read_csv('Cap\Empath_variables.csv', delimiter = ',',encoding='utf-8')

In [12]:
df1.head()

,Username,Body,Depressed,Polarity,Subjectivity,Noun Phrases,CC,CD,DT,EX,...,VB,VBD,VBG,VBN,VBP,VBZ,WDT,WP,WP$,WRB
0,#NAME?,francisco lindor campaign video allstar shortstop,0,0.000000,0.000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,#NAME?,campaign idea planning short campaign family i...,0,-0.076389,0.235865,58,0,4,0,0,...,68,18,20,9,6,5,0,0,0,1
2,#NAME?,cdn 37 indian pitcher carlos carrasco reveals ...,0,0.400000,0.700000,1,0,1,0,0,...,2,1,0,0,0,0,0,0,0,0
3,#NAME?,henry david thoreau v chris mccandless henry d...,0,0.250000,0.333333,5,0,1,0,0,...,2,2,0,0,0,0,0,0,0,0
4,#NAME?,cleveland indian terry francona indian manager...,0,0.000000,0.000000,2,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0

In [3]:
df1.head()
print(len(df1))
print(len(df1.columns))

69544
41

In [4]:
df2= df2.drop(columns=['Depressed','Body','Username','Time'])
print(len(df2))
print(len(df2.columns))

69544
196

In [5]:
df=pd.concat([df1, df2], axis=1)

In [6]:
df.head()
print(len(df))
print(len(df.columns))

69544
237

In [7]:
df.to_csv('Cap/EmpathVariables_PartsOfSpeech1.csv', sep=',', encoding='utf-8',index=False)